DOMAIN=hvacrockville.com
SITE_TITLE=HVAC Rockville
PROJECT_FOLDER=C:\Users\My PC\Documents\GitHub\Microsite Management Lead Gen\Websites\hvacrockville
BUSINESS_CATEGORY=HVAC and AC Repair
CITY=Rockville
STATE_REGION=MD
COUNTRY=United States
GITHUB_USERNAME=
GITHUB_REPO=hvacrockville
GITHUB_PAT=
NETLIFY_PAT=
NETLIFY_SITE_ID=
NETLIFY_SITE_URL=
NAMECHEAP_API_USER=
NAMECHEAP_API_KEY=
NAMECHEAP_CLIENT_IP=
